* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgoldenrod;
}

table {
  width: 100%;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

div {
  background-color: coral;
  margin: 10px;
}

.one {
  float: left;
  width: 25%;
}

.two {
  width: 25%;
  float: left;
}

.three {
  float: left;
  width: 40%;
}